@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Grid  */
/* background-image:
  repeating-linear-gradient(0deg, black 0 1px, transparent 2px 40px),
  repeating-linear-gradient(90deg, black 0 1px, transparent 2px 40px); */

.link {
  position: relative;
}

.link::before,
.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: whitesmoke;
  transition: 0.3s ease;
  opacity: .6;
}
.link::before {
  transform-origin: right;
  transform: scaleX(1);
}
.link::after {
  transform-origin: left;
  transition-delay: .15s;
  transform: scaleX(0);
}
.link:hover::after {
  transform: scaleX(1);
}

.word {
  overflow: hidden;
}

.word + .word {
  margin-left: 0.5rem;
}

.letter {
  overflow: hidden;
  transform: translateY(-100%);
  display: inline-block;
}

/* 
.word .letter {
  transform: translate3d(0, -120%, 0);
}

.word:hover .letter {
  animation: word 0.5s ease forwards;
}
@keyframes word {
  0% {
    transform: translate3d(0, -120%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
} */